.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

ul.nav::before,
ul.nav::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

ul.nav {
  list-style: none;

  > li > a {
    display: inline-block;
    padding: 10px 20px;
    float: left;
    border: 2px solid transparent;

    &.active {
      border-color: initial;
    }
  }
}

.text-muted {
  color: #999;
}

.note {
  font-size: 12px;
}
