html, body {
  background-color: $background-color;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.demos-section {
  max-width: 650px;
  margin: auto;
  margin-top: 85px;
}

.main-navs {
  margin-top: 20px;
}

.credits {
  font-size: 12px;
  margin-top: 20px;
  font-style: italic;
}
