*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $anchor-color;

  &:hover {
    color: $anchor-hover-color;
  }
}
