<div class="demos-section">
  <ul class="nav">
    <li>
      {{link-to "Bare Form" "demos.carousel.simple"}}
    </li>

    <li>
      {{link-to "Rich Form" "demos.carousel.rich"}}
    </li>
  </ul>

  {{outlet}}
</div>
