<div class="demos-section">
  <h2>Ember Carousel Component</h2>

  <iframe src="https://ghbtns.com/github-btn.html?user=selvagsz&repo=ember-carousel&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

  <ul class="nav">
    <li>
      {{link-to "Bare Form" "demos.carousel.simple"}}
    </li>

    <li>
      {{link-to "Rich Form" "demos.carousel.rich"}}
    </li>

    <li>
      {{link-to "Fancy Form" "demos.carousel.fancy"}}
    </li>
  </ul>

  {{outlet}}
</div>
