#main-section {
	background-color: #fff;
	max-width: 800px;
	min-height: 100vh;
	padding: 30px;
	margin: auto;
}

#nav-section {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1001;
	width: 240px;
	background: #414048;
	color: #d8d7d3;
	-webkit-transform: translate3d(-240px, -50vh,0);
	transform: translate3d(-240px,-50vh,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	> nav {
		margin-top: 50px;
		.list-unstyled > li > a {
			padding: 10px 20px;
			color: #d8d7d3;

			&:hover, &.active {
				background-color: #2f2d33;
			}
		}
	}
}

#wrapper.show-menu #nav-section {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#nav-button {
	position: fixed;
	margin: 20px;
}

.profile {
	text-align: center;
	padding-top: 75px;
	.name {
		font-size: 1.5em;
	}
	.desc {
		font-size: 0.9em;
	}
	> img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
}

.posts-list > li {
	> h2 {
		margin-bottom: 0;
	}
	> p {
		margin-top: 0;
		color: #777;
		font-size: 0.9em;
	}
}

.btn-toolbar {
	margin: 20px 0;
}

hr {
	margin-top: 3.5em;
	margin-bottom: 3.5em;
	border-top: 0;
	border-color: #ddd;
}

#header {
	margin-bottom: 2em;

	h1 {
		margin: 0;
	}
}

.posts-list-page .close-button {
	display: none;
}
