html, body {
  font-family: $font-family;
  line-height: 1.6;
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 1.8rem;
  margin: 0.75rem 0;
}

h2 {
  font-size: 1.4rem;
  margin: 0.7rem 0;
}

h3 {
  font-size: 1.25rem
}

pre {
  margin: 1.5rem 0;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    color: #23527c;
    border-bottom: 1px solid #23527c;
  }
}

button {
  padding: 8px 15px;
  font-size: 15px;
  background: transparent;
  border: 2px solid #000;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

code:not(.hljs) {
  font-family: monospace,monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

code.hljs {
  padding: 15px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1.05rem;
  border-left: 5px solid #eee;

  p {
    margin: 0;
  }
}

hr {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  border-top: 0;
  border-color: #ddd;
}
