.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::before, .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}
