{{link-to "" "home" class="icon-home back-to-home"}}
<div class="container">
  <header>
    <h2>Code Works</h2>
  </header>

  <main class="demos-section">
    <ul>
      <li>
        {{link-to "Ember Image Magnifier Addon" "demos.magnifier"}}
      </li>
      <li>
        {{link-to "Ember Carousel Addon" "demos.carousel"}}
      </li>
      <li>
        {{link-to "Ember Facebook Video Addon" "demos.fbvideo"}}
      </li>
    </ul>
  </main>
</div>
