{{link-to "" "home" class="icon-home back-to-home"}}

<div class="container">
  <div class="demos-section">
    <ul>
      <li>
        {{link-to "Ember Image Magnifier Addon" "demos.magnifier"}}
      </li>
      <li>
        {{link-to "Ember Carousel Addon" "demos.carousel.simple"}}
      </li>
      <li>
        {{link-to "Ember Facebook Video Addon" "demos.fbvideo"}}
      </li>
    </ul>
  </div>
</div>
