<div class="cover-image">
  <img class="img-responsive" src="/assets/images/cric-me.jpg" alt="Cover Photo" />
  {{gravatar-image email="selvaganesh.b@zohocorp.com" alt="Selva Ganesh" size="80"}}
</div>

<div class="profile-details">
  <div class="social-networks">
    <a class="icon-twitter3" href="https://twitter.com/selvagsz" target="_blank" rel="nofollow"></a>
    <a class="icon-github" href="https://github.com/selvagsz" target="_blank" rel="nofollow"></a>
  </div>
</div>
