doctype html
html(lang="en")
  block vars
  head
    block head
      title= pageTitle
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
      link(rel="stylesheet" href="/styles/app.css")
      link(rel="stylesheet" href="/vendor/hljs-monokai-sublime.css")

  body(id=pageId)
    div#wrapper
      section#nav-section
        block nav
          p Navs here

      section#main-section
        block content

      section#footer-section
        block footer

    block scripts
      script(src="/js/app.js")
