<!doctype html>
<html lang="en-us">
  <head>
    {{#block "head"}}
      <title>{{pageTitle}}</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
      <link rel="stylesheet" href="/styles/app.css" />
      <link rel="stylesheet" href="/vendor/hljs-monokai-sublime.css" />
    {{/block}}
  </head>

  <body id={{pageId}}>
    <div id="wrapper" class="">
      {{#block "nav"}}
        <button id="nav-button">Menu</button>
      {{/block}}
      <section id="nav-section">
        <div class="profile">
          <img src="/images/kick-512x512.jpeg" />
          <div class="name">selvagsz</div>
          <div class="desc">Front End Developer</div>
        </div>
        <nav>
          <ul class="list-unstyled">
            <li><a href="/posts">Blog</a></li>
          </ul>
        </nav>
      </section>

      <article id="main-section">
        {{#block "content"}}
        {{/block}}
      </article>

      <footer id="footer">
        {{#block "footer"}}
        {{/block}}
      </footer>
    </div>

    {{#block "scripts"}}
      <script src="/js/nominal-jquery.js"></script>
      <script>
        var $navButton = $('#nav-button');
        $navButton[0].addEventListener('click', function() {
          $('#wrapper').toggleClass('show-menu')
        });
      </script>
    {{/block}}
  </body>
</html>
