<!doctype html>
<html lang="en-us">
  <head>
    {{#block "head"}}
      <title>{{pageTitle}}</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
      <link rel="stylesheet" href="/styles/app.css" />
      <link rel="stylesheet" href="/vendor/hljs-monokai-sublime.css" />
    {{/block}}
  </head>

  <body id={{pageId}}>
    <div id="wrapper">
      <section id="nav-section">
        {{#block "nav"}}
          <button id="nav-button">Menu</button>
        {{/block}}
      </section>

      <article id="main-section">
        {{#block "content"}}
        {{/block}}
      </article>

      <footer id="footer">
        {{#block "footer"}}
        {{/block}}
      </footer>
    </div>

    {{#block "scripts"}}
      <script src="/js/nominal-jquery.js"></script>
      <script>
        var $navButton = document.getElementById('nav-button');
        $navButton.addEventListener('click', function() {

        });
      </script>
    {{/block}}
  </body>
</html>
