blockquote {
  &.callout-error {
    background-color: #f2dede;
    border-color: #e69d9d;
  }
  &.callout-info {
    background-color: #d9edf7;
    border-color: #8ecae8;
  }
  &.callout-warning {
    background-color: #fcf8e3;
    border-color: #f3e393;
  }
  &.callout-success {
    background-color: #dff0d8;
    border-color: #84b76e;
  }
}

ul.list-unstyled {
  list-style: none;

  > li > a {
    display: block;

    &:hover, :focus {
      border: 0;
    }
  }
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  font-size: 0.85em;

  &:hover, &:focus {
    color: #333;
    background-color: #f3f3f3;
    border-color: #adadad
  }
}

a.btn {
  &:hover, &:focus {
    border-color: #ccc;
  }
}

.close-button {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 16px;
	border: none;
	z-index: 1001;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #95a5a6;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
