<div class="demos-section">
  <h2>[WIP] Ember Image Magnifier Component</h2>

  <iframe src="https://ghbtns.com/github-btn.html?user=selvagsz&repo=ember-image-magnifier&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

  <div class="fb-video-container">
    {{image-magnifier width=200 height=200
      src="http://lorempixel.com/image_output/nightlife-q-c-200-200-8.jpg"
      preview-src="http://lorempixel.com/image_output/nightlife-q-c-500-500-8.jpg"}}
  </div>
</div>
