<div class="demos-section">
  <header>
    <h2>Ember Image Magnifier Component</h2>
    <iframe src="https://ghbtns.com/github-btn.html?user=selvagsz&repo=ember-image-magnifier&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </header>

  <main>
    <section>
      <h3 class="header">Static Previewer</h3>
      <div class="demo-container">
        <div class="demo">
          {{image-magnifier width=200
            src="assets/images/nightlife-q-c-300-200-9.jpg"
            previewSrc="assets/images/nightlife-q-c-750-500-9.jpg"}}
        </div>
        <div class="code">
          {{code-snippet name="static-previewer.hbs"}}
        </div>
      </div>
    </section>

    <section>
      <h3 class="header">Floating Previewer</h3>
      <div class="demo-container">
        <div class="demo">
          <div class="fancy-floating-previewer">
            {{image-magnifier width=300
              attachToLens=true
              previewerAttachment="bottom middle"
              previewerTargetAttachment="top middle"
              previewerTargetOffset="-20 10"
              previewerHeight=250
              src="assets/images/wyvern-theatre-seating.gif"
              previewSrc="assets/images/wyvern-theatre-seating.gif"}}
          </div>
          <small class="note text-muted"><i>Random image from google</i></small>
        </div>
        <div class="code">
          {{code-snippet name="floating-previewer.hbs"}}
        </div>
      </div>
    </section>
  </main>
</div>
