<!doctype html>
<html lang="en-us">
  <head>
    {{#block "head"}}
      <title>{{pageTitle}}</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
      <link rel="stylesheet" href="/styles/app.css" />
    {{/block}}
  </head>

  <body id={{pageId}}>
    <div id="wrapper" class="{{if pagination.name 'show-menu posts-list-page'}}">
      {{#block "nav"}}
        <button id="nav-button">Menu</button>
      {{/block}}
      <section id="nav-section">
        <button class="close-button" id="close-button">Close Menu</button>
        <div class="profile">
          <img src="/images/kick-512x512.jpeg" />
          <div class="name">selvagsz</div>
          <div class="desc">Front End Developer</div>
        </div>
        <nav>
          <ul class="list-unstyled">
            <li><a href="/">Blog</a></li>
            <li><a href="/codeworks">Code Works</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        </nav>
      </section>

      <article id="main-section">
        {{#block "content"}}
        {{/block}}
      </article>

      <footer id="footer">
        {{#block "footer"}}
        {{/block}}
      </footer>
    </div>

    {{#block "scripts"}}
      <script src="/js/nominal-jquery.js"></script>
      <script>
        var $wrapper = $('#wrapper');
        function toggleMenu() {
          $wrapper.toggleClass('show-menu');
        }

        $('#nav-button').on('click', toggleMenu);
        $('#close-button').on('click', toggleMenu);
      </script>
    {{/block}}
  </body>
</html>
