<div class="row">
  <div class="col-md-3 profile-container">
    <div class="gravatar-container">
      {{gravatar-image email=gravatarEmail}}
      <h3>Selva Ganesh</h3>
      @selvagsz
    </div>
    
    <div class="social-network">
      <a class="twitter" href="https://twitter.com/selvagsz"></a>
    </div>
  </div>
</div>